<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="text-center mt-4 mb-4">
          <h1>Log in</h1>
        </div>
        <%= form_for :session do |f|%>
          <div class="form-group row">
            <%= f.label :email, class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password, class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9">
              <%= f.password_field :password, class: "form-control" %>
            </div>
          </div>

            <div class="form-group row">
              <%= f.submit "Log in", class: "btn btn-primary col-sm-3" %>
              <div class="form-check col-sm-8 offset-sm-1">
                <%= f.check_box :remember_me, class: "form-check-input" %>
                <%= f.label :remember_me, class:"form-check-label" %>
              </div>
            </div>
        <% end %>
        <div class="text-center text-muted">
          <p>Sample this app by logging in as T. S. Eliot: <br>
          email: ts@eliot.com <br>
          password: foobar <p>
        </div>
      </div>
    </div>
  </div>
</div>
